<div id="form">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h1> <%= "#{@cocktail.name} | #{@cocktail.mean_rating}/5" %></h1>
        <h3>Recipe:</h3>
        <ol>
          <% @cocktail.doses.each do |dose| %>
          <li>
            <%= "#{dose.ingredient.name}: #{dose.description}" %> |
            <%=  link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete %>
          </li>
          <% end %>
        </ol>
        <p> <%= link_to '<< Back', cocktails_path %> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <%= render "doses/form", cocktail: @cocktail, dose: @dose %>
      </div>
      <div class="col-xs-6">
        <%= render "reviews/form", cocktail: @cocktail, review: @review %>
      </div>
    </div>
    <div class="row">
     <div class="col-sm-offset-3 col-sm-6">
      <h3 class="text-center">Last reviews</h3>
        <ul>
          <% @cocktail.reviews.each do |review| %>
          <li>
            <%= "#{review.rating}/5: #{review.content}" %>
          </li>
          <% end %>
        </ul>
     </div>
    </div>
    </div>
  </div>
</div>


